

# Golden Rules :

# 1. Patience & Practice -> Don't give up
# 2. Theory / Knowledge
# 3. Pen & Paper
# 4. Dry run your code
# 5. Do as many questions as you can / Keep moving dont stick to one problem
# 6. Regularity
# 7. Go from basic to advance
# 8. DSA
# 9. Do not switch to solution until you solve the problem 
# 9. Face at least a new problem everyday




# TIPS :

# 1) Break the problem in sub part. 
# 2) Don't fear to make mistakes.
# 3) No need to learn the code just keep going, you will learn it automatically.
# 4) Have a basic knowledge about the function of particular language.
# 5) Practice math in free time, The basic algorithm are of elementary school level.





# Tip 6: Learn Discrete Mathematics (Prepositional and Predicate Logic, Number Theory, Set Theory, Combinatorics, Mathematical Induction, Recursion, Relations, Graph Theory, etc...)


Quick overview - 
1. Exercise
2. Good Sleep
3. Drink a lot of fluid to save your eyes
4. Have exposure to sunlight during your non-productive hours such mealtime
5. Keep back straight while sitting on chair
6. Fix a goal and then reverse engineer the timelines and technical effort
7. Have result-oriented goals (products which u can really ship)
8. Keep it simple. (Write a simple code which is easy to read and debug which helps in shipping product faster)
9. Don’t get disturbed during your highest concentration period of day by setting expectations with people around us
10. Always keep learning. Keep your skills sharp.
11. Get out of comfort zone
12. Collaborate with other programmers to save time and effort
13. Programming is a solo activity. Try spending a lot of time alone
